{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Cart</h5>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in session['cart'] %}
                    <tr>
                        <td style="vertical-align: middle;">
                            <div class="card-img-block-cart">
                                <img class="img-fluid" src="{{ url_for('views.display_package_main_image', eventID=item.event_id, packageID=item.id ) }}" alt="Card image cap" style="width: 10rem; height: 10rem;">
                            </div>
                        </td>
                        <td style="vertical-align: middle;">
                            <strong>{{ item.title }}</strong>
                            <br>
                            <br>
                            {{ item.description }}
                        </td>
                        <td style="vertical-align: middle;">Price: {{ item.price }} €</td>
                        <td style="vertical-align: middle;">
                            <form action="{{ url_for('views.remove_from_cart', item_id=item.id) }}" method="post">
                                <button type="submit" class="btn btn-danger btn-round px-4"><i class="icon-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="{{ url_for('views.checkout') }}" method="post">
    <button type="submit" class="apple-pay-button-with-text apple-pay-button-white-with-text">
        <span class="text">Buy with</span>
        <span class="logo"></span>
    </button>
    <button type="submit" class="google-pay-button-with-text google-pay-button-white-with-text">
        <span class="text">Buy with</span>
        <span class="logo"></span>
    </button>
</form>
{% endblock %}
