{% extends "base.html" %} {% block title %}{{ config.TITLE }}{% endblock %} 
{% block content %}
    <form method="POST">
      <h3 align="center">{{ translate('Login') }}</h3>
      <div class="form-group">
        <label for="email">{{ translate('Email Address') }}</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="{{ translate('Enter email') }}"
        />
      </div>
      <div class="form-group">
        <label for="password">{{ translate('Password') }}</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="{{ translate('Enter password') }}"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">{{ translate('Login') }}</button>
    </form>
    {% endblock %}